stages:
  - build
  - archive
  - test
  - deploy
build api:
  image: 'node:9'
  stage: build
  script:
    - cd api
    - npm install --progress=false
    - npm run build
  artifacts:
    expire_in: 1 week
    paths:
      - api/dist
      - api/node_modules
      - api/package.json
build-android-app:
  image: webcuisine/gitlab-ci-react-native-android
  cache:
    key: '${CI_PROJECT_ID}'
    paths:
      - app/android/.gradle/
  stage: build
  script:
    - cd app
    - yarn
    - >-
      ./node_modules/.bin/react-native bundle --platform android --dev false
      --entry-file index.js   --bundle-output
      android/app/src/main/assets/index.android.bundle   --assets-dest
      android/app/src/main/res/
    - cd android && ./gradlew assembleDebug
  artifacts:
    paths:
      - app/android/app/build/outputs/apk/
achive-ios-app:
  only:
    - ci-for-ios
  stage: archive
  script:
    - cd app/ios
    - npm install
    - pod install
    - >-
      xcodebuild clean archive -workspace parkspot.xcworkspace -archivePath
      builds/parkspot -scheme parkspot
    - >-
      xcodebuild -exportArchive  -archivePath "builds/parkspot.xcarchive"
      -exportPath "builds/parkspot.ipa" -exportOptionsPlist ExportOptions.plist
  artifacts:
    paths:
      - app/ios/builds/parkspot.ipa
  tags:
    - ios
build-ios-app:
  stage: build
  script:
    - cd app/ios
    - npm install
    - pod install
    - >-
      xcodebuild clean -workspace parkspot.xcworkspace -scheme parkspot |
      xcpretty
    - >-
      xcodebuild build -workspace parkspot.xcworkspace -scheme parkspot  |
      xcpretty -s
  artifacts:
    paths:
      - app/ios/builds/parkspot.ipa
  tags:
    - ios
api-test:
  image: 'node:9'
  stage: test
  script:
    - cd api
    - npm install --progress=false
    - 'npm run test:cov'
  coverage: '/All files\s*\|\s*([\d\.]+)/'
deploy android:
  only:
    - master
  image: 'node:9'
  stage: deploy
  script:
    - cd app
    - npm install --progress=false
    - ./node_modules/.bin/appcenter login --token  $APP_CENTER_TOKEN
    - >-
      ./node_modules/.bin/appcenter codepush release-react -a
      jnsfrg/parkspot-android --development false -d Production
      --disable-duplicate-release-error
