<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>165611854538-ln472n6v4oip7gblrhktqkb3q4jg15do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165611854538-ln472n6v4oip7gblrhktqkb3q4jg15do</string>
	<key>API_KEY</key>
	<string>AIzaSyDqxR_vf9BdnX3PF2DwhrEpoWhYGocxV58</string>
	<key>GCM_SENDER_ID</key>
	<string>165611854538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.hdmstuttgart.parkspot</string>
	<key>PROJECT_ID</key>
	<string>parkspot-200807</string>
	<key>STORAGE_BUCKET</key>
	<string>parkspot-200807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165611854538:ios:e527088bee12edbb</string>
	<key>DATABASE_URL</key>
	<string>https://parkspot-200807.firebaseio.com</string>
</dict>
</plist>